DATABASE_URL="postgresql://postgres:password@localhost:5432/cricket_scorer"
NEXTAUTH_SECRET="your-nextauth-secret-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="https://cricscorer.co.in"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER="ap2"
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER="ap2"
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BFLxB1nwr5q88NEsgngrcBJu9z_yaMdR_C5nAS5VP9dhSSwSmp6bMDGyVfIi6aOxHNnvMYCuUG8hkidVC3whmjA"
VAPID_PRIVATE_KEY="_AIKwdej7rarIF5JstvgsTHc6dBi9HOa7DDAkSwOwt0"
VAPID_MAILTO="mailto:admin@cricscorer.app"
